@import "tailwindcss";

:root {
  --background: #364b6410;
  --foreground: #ffffff;
  --white: #ffffff;
  --dark-blue: #1A253C;
  --light-blue: #364B64;
  --orange: #E97F4A;
  --gray: #f2f4f5;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364b6410;
    --foreground: #ffffff;
  }
}

body {
  background-color: #364b6410;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}


