@import "tailwindcss";

:root {
  --background: #364b6410;
  --foreground: #ffffff;
  --white: #ffffff;
  --dark-blue: #1a253c;
  --dark-blue-two: rgba(26, 37, 60, 0.2);
  --dark-blue-eight: rgba(26, 37, 60, 0.8);
  --light-blue: #364B64;
  --light-blue-one: rgba(54, 75, 100, 0.1);
  --light-blue-two: rgba(54, 75, 100, 0.2);
  --light-blue-three: rgba(54, 75, 100, 0.3);
  --light-blue-five: rgba(54, 75, 100, 0.5);
  --orange: #E97F4A;
  --orange-one: rgba(233, 127, 74, 0.1);
  --orange-two: rgba(233, 127, 74, 0.2);
  --orange-nine: rgba(233, 127, 74, 0.9);
  --gray: #f2f4f5;
  --gray-one: rgba(242, 244, 245, 0.1);
  --gray-two: rgba(242, 244, 245, 0.2);
  --gray-three: rgba(242, 244, 245, 0.3);
  --light-gray: #dee3e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364b6410;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #364b6410;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}

.btn-cssbuttons {
    position: relative;
    padding: 9px 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    width: 100px;
    font-size: 14px;
    line-height: 1;
    color: #000000;
    background: white;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #6885FF;
    border-radius: 50px;
  }

  .btn-cssbuttons::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: var(--btn-color, #e0eaff);
    z-index: -1;
    border-radius: 24px;
    transition: 0.3s ease;
  }

  .btn-cssbuttons span,
  .btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s ease;
  }

  .btn-cssbuttons span:first-child {
    padding-right: 7px;
  }

  .btn-cssbuttons span span {
    margin-left: 8px;
  }

  .btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0; right: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .btn-cssbuttons ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    pointer-events: all;
  }

  .btn-cssbuttons ul li a {
    display: inline-flex;
    color: #000;
    transform: translateY(55px);
    transition: 0.3s ease;
  }

  .btn-cssbuttons ul li a:hover {
    opacity: 0.6;
  }

  .btn-cssbuttons:hover::before {
    transform: scale(1.2);
  }

  .btn-cssbuttons:hover span,
  .btn-cssbuttons:hover span span {
    transform: translateY(-55px);
  }

  .btn-cssbuttons:hover ul li a {
    transform: translateY(0);
  }

  .btn-cssbuttons:hover ul li:nth-child(1) a { transition-delay: 0.15s; }
  .btn-cssbuttons:hover ul li:nth-child(2) a { transition-delay: 0.2s; }
  .btn-cssbuttons:hover ul li:nth-child(3) a { transition-delay: 0.25s; }
