@import "tailwindcss";

:root {
  --background: #364b6410;
  --foreground: #ffffff;
  --white: #ffffff;
  --dark-blue: #1a253c;
  --dark-blue-two: rgba(26, 37, 60, 0.2);
  --dark-blue-eight: rgba(26, 37, 60, 0.8);
  --light-blue: #364B64;
  --light-blue-one: rgba(54, 75, 100, 0.1);
  --light-blue-two: rgba(54, 75, 100, 0.2);
  --light-blue-three: rgba(54, 75, 100, 0.3);
  --light-blue-five: rgba(54, 75, 100, 0.5);
  --orange: #E97F4A;
  --orange-one: rgba(233, 127, 74, 0.1);
  --orange-two: rgba(233, 127, 74, 0.2);
  --orange-nine: rgba(233, 127, 74, 0.9);
  --gray: #f2f4f5;
  --gray-one: rgba(242, 244, 245, 0.1);
  --gray-two: rgba(242, 244, 245, 0.2);
  --gray-three: rgba(242, 244, 245, 0.3);
  --light-gray: #dee3e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364b6410;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #364b6410;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}