@import "tailwindcss";

:root {
  --background: #364b6410;
  --foreground: #ffffff;
  --white: #ffffff;
  --dark-blue: #1A253C;
  --light-blue: #364B64;
  --orange: #E97F4A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364b6410;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  position: relative;
  min-height: 100vh;
  z-index: 0;
}